---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, METADATA } from "../consts";
import Filter from "../components/Filter.astro";
import allPosts from "../utils/allPosts";
import PostList from "../components/PostList.astro";
import PostItem from "../components/PostItem.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Filter posts={allPosts} />
    </main>
    <Footer />
  </body>
</html>

<script>
  import { subscribeToFilters } from "../stores/filters";
  // apply new filters when filters have changed, and rerender PostList
  subscribeToFilters(() => {
    console.log("filters changes detected!");
  });
</script>
