---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, METADATA } from "../consts";
import Filter from "../components/Filter.astro";
import posts from "../utils/allPosts";
import PostList from "../components/PostList.astro";
import PostItem from "../components/PostItem.astro";
---

<!doctype html>
<html lang="en" data-posts={posts}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Filter />
      <PostList id="filtered-posts" posts={posts} />
    </main>
    <Footer />
  </body>
</html>

<script>
  import { subscribeToFilters } from "../stores/filters";
  import applyFilters from "../utils/applyFilters";

  const postList = document.getElementById("filtered-posts");
  // apply new filters when filters have changed, and rerender PostList
  subscribeToFilters((newFilters) => {
    const filteredPosts = applyFilters(
      document.documentElement.dataset.posts, // data from frontmatter passed to HTML elem
      newFilters,
    );
    // rerender PostList with updated filteredPosts
    console.log("rerendering the list with new posts");
    postList.setAttribute("posts", filteredPosts);
  });
</script>
